name: Build and Upload JAR Artifact

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Set permission for Gradle Wrapper
      run: chmod +x ./gradlew

    - name: Build with Gradle Wrapper
      run: ./gradlew clean bootJar

    - name: Upload JAR artifact
      uses: actions/upload-artifact@v4
      with:
        name: trajefino-jar
        path: build/libs/*.jar
        retention-days: 7
